.container {
  display: flex;
  width: 460px;
  justify-content: center;
  /* background-color: red; */
}

.upload {
  background: none #7ed214;
  border: none;
  box-shadow: none;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  width: 120px;
  height: 37px;
  margin-left: 5px;
}

.text {
  border: 5px solid #7ed214;
  height: 27px;
  font-family: Roboto, sans-serif;
  padding-left: 12px;
  font-size: 0.875rem;
  width: 320px;
  line-height: 27px;
  vertical-align: middle;
}
